html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 5vw;
    background-color: #455A64;
    text-align: center;
}

h3 {
    text-align: center;
    color: #455A64;
}

.wrapper {
    background-color: #CFD8DC;
}

.title-container {
    max-height: 6vw;
}

.title-container img {
    height: 4vw;
}

.col-1,
.col-2 {
    width: 50%;
    float: left;
    height: 100vh;
}

.col-1 {
    background-color: #455A64;
}

.col-2 {
    background-color: #CFD8DC;
}

.inner-col {
    width: 80%;
    margin: 0 auto;
}

.inner-col input {
    width: 87%;
    text-align: left;
    display: block;
    float: none;
    margin: 0 auto;
    border: #CFD8DC solid 1px;
    padding: .5rem 1rem;
    font-size: 1.6rem;
}

.inner-col input::placeholder {
    color: #bbbdbf;
}

.inner-col input[type=submit] {
    background-color: #FFC107;
    color: #fff;
    box-sizing: content-box;
    text-align: center;
    margin-top: 4rem;
    font-weight: 800;
    padding: 10px 1rem;
}

.inner-col input[type=submit]:hover {
    background-color: #ffd773;
}

.col-1 .bookmark-link {
    margin-top: 4rem;
}

.input {
    display: inline-block;
    background-color: #455A64;
    color: #FFF;
    margin-top: 20%;
    width: 100%;
}

.list-item {
    margin: 1rem;
    border: 1px solid #607d8b;
    padding: 1rem;
    background-color: #fff;
}

.list-item h2 {
    margin: 0;
    color: #455A64;
}

.list-item hr {
    color: #cfd8dc;
}

.list-item .list-item-url {
    text-decoration-color: #f2f4f4;
    display: inline-block;
    margin: 10px 0;
    color: #607d8b;
}

.list-item .list-item-url:hover {
    color: #455a64;
    font-weight: bold;
    text-decoration-color: #ffc107;
}


.list-item .action-links {
    color: #455a64;
    text-decoration: underline;
}

.list-item .action-links:hover {
    color: #455a64;
    font-weight: bold;
    text-decoration-color: #ffc107;
}

.delete-link {
    float: right;
}




/*MEDIA QUERIES*/

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-width: 768px) and (max-device-width: 1024px) {

}

/* Smartphones to iPad ----------- */

@media only screen and (max-width: 767px) {

    h1 {
        font-size: 6.0vw;
        margin-bottom: 45px;
    }

    #enter {
        margin-top: 10%;
    }

  .col-1 .bookmark-link {
        margin-top: 10%;
    }

    .title-container {
        max-height: initial;
    }

    .col-1 {
        height: auto;
        padding-bottom: 6rem;
    }

    .col-1,
    .col-2 {
        width: 100%;
    }
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (max-width: 480px) {
    html h1 {
        font-size: 10vw;
        margin: 0.67em 0;
    }
    .inner-col {
        width: 90%;
    }
    .input {
        margin: 0;
    }

    .inner-col input {
        box-sizing: border-box;
        font-size: 2rem;
        width: 100%;
    }
    .inner-col input[type=submit] {
        box-sizing: border-box;
        font-size: 1.5rem;
    }

    .col-2 {
        height: 100%;
    }
}