html {
    font-family: 'Open Sans', sans-serif;
    background-color: #455A64;
    font-weight: 400;
}

h1 {
    font-size: 5vw;
    background-color: #455A64;
    text-align: center;
}

h3 {
    text-align: center;
    color: #455A64;
}

.title-container {
    max-height: 6vw;
}

.title-container img {
    height: 4vw;
}

.col-1,
.col-2 {
    width: 50%;
}

.inner-col {
    width: 80%;
    margin: 0 auto;
}

.inner-col input {
    width: 87%;
    text-align: left;
    display: block;
    float: none;
    margin: 0 auto;
    border: #CFD8DC solid 1px;
    padding: 1rem;
    font-size: 1.6rem;
}

.inner-col input::placeholder {
    color: #bbbdbf;
}

.inner-col input[type=submit] {
    background-color: #FFC107;
    color: #fff;
    box-sizing: content-box;
    text-align: center;
    margin-top: 4.5rem;
    font-weight: 800;
    padding: 10px 1rem;
}

.col-1 .bookmark-link {
    margin-top: 4.5rem;
}

.input {
    display: inline-block;
    background-color: #455A64;
    color: #FFF;
    margin-top: 20%;
    width: 100%;
}









/*.box {
    display: inline-block;
    background-color: #CFD8DC;
    height: 100%;
    width: 50%;
    border: #607D8B solid 2px;
    text-align: center;
}*/