html {
    font-family: 'Open Sans', sans-serif;
    background-color: #455A64;
    font-weight: 400;
}

.col-1,
.col-2 {
	width: 50%;
}

.input,
text {
    display: inline-block;
    background-color: #455A64;
    height: 100%;
    width: 50%;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

/*.box {
    display: inline-block;
    background-color: #CFD8DC;
    height: 100%;
    width: 50%;
    border: #607D8B solid 2px;
    text-align: center;
}*/

h3 {
    text-align: center;
    color: #455A64;
}

input[type=submit] {
    background-color: #FFC107;
    color: #FFFFFF;
    padding: 4px;
    margin: 6px;
    width: 130px;
}

input[type=text] {
    margin: 6px;
}